.section1 {
    border: 2px solid #000;
    padding: 10px; /* Add padding for space inside the section */
    margin: 10px; /* Add margin for space outside the section */
}

.section2 {
    width: 420px;
    height: 300px;
    border: 2px solid #000;
    padding: 10px; /* Add padding for space inside the section */
    margin: 10px; /* Add margin for space outside the section */
}

.section3 {
    width: 420px;
    height: 350px;
    border: 2px solid #000;
    padding: 10px; /* Add padding for space inside the section */
    margin: 10px; /* Add margin for space outside the section */
}


* {
    box-sizing: border-box;
  }
  
  .section2 {
    float: left;
  }

  .section3 {
    float: left;
  }
